name: Update major tag
on:
  push:
    tags:
      - "v*"

jobs:
  major-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.DEPLOY_APP_ID }}
          private-key: ${{ secrets.DEPLOY_APP_KEY }}

      - name: Update major tag to ${{ github.ref_name }}
        uses: actions/publish-action@v0.4.0
        with:
          source-tag: ${{ github.ref_name }}
          token: ${{ steps.app-token.outputs.token }}
