name: Terraform apply

on:
  workflow_dispatch: 
  push:
    branches:
      - master
    paths:
      - "*.tf"
      - "contents/data.yaml"
      - "contents/renovate.json"

jobs:
  plan:
    name: "Apply changes"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: hashicorp/setup-terraform@v3

      - run: |
          terraform init \
            -backend-config="access_key=${{ secrets.SCW_ACCESS_KEY }}" \
            -backend-config="secret_key=${{ secrets.SCW_SECRET_KEY }}" \
            -backend-config="bucket=${{ secrets.SCW_BUCKET_NAME }}"

      - id: plan
        env:
          GITHUB_TOKEN: ${{ secrets.TTOKEN }}
        run: terraform apply --auto-approve
